.navbarMenu a{
    @apply no-underline inline-block relative cursor-pointer 
    before:content-[""] before:absolute before:w-full 
    before:left-0 before:-bottom-0.5 before:h-0.5
    before:bg-orange-500
    before:invisible
    before:scale-x-0 before:transition-all before:ease-in-out before:duration-300
    hover:before:visible hover:before:scale-x-100
}

.activeLink {
    @apply border-b-2 border-orange-500
}
